
/*  HEADER   */
header {
    box-sizing: border-box;
    height: 100px;
    display: flex;
    flex-direction: Column;
    /* justify-content: end; */
    align-items: flex-end;
    margin-bottom: 20px;
    width : 100%;
    background-color: #fff;
}

header nav a, header subnav a {
    font-family: 'Roboto';
    text-transform: capitalize;
    text-decoration: none;
    color : #777777;
    transition : 0.3s;
}

header nav a:hover ,header subnav a:hover {
    color : #999;
}

header nav ul li, header subnav ul li {
    display: inline-block;
    padding-right:20px;
    list-style: none;
}

p, h4 {
    color : #65696e;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

#formulaire {
    margin-bottom: 10px;
}


